1. For every year, model the data as a multinomial probability distribution for the following features:  (1) departuremode, (2) departure port, and (3) state-wise visit of domestic versus foreign tourists.
    - Do it overall as well as state/UT-wise.
2. Find the years when the entropy of the distributions (three seaparate) for the overall count is themaximum and the minimum.
    - Repeat it for every state/UT

# Data Preprocessing

In [1]:
import pandas as pd
import warnings
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.expand_frame_repr', False)  # Prevent wrapping to new line
pd.set_option('display.max_colwidth', None)  # No limit on column width
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.width', None)  # Automatically adjust the width
warnings.filterwarnings('ignore')

In [ ]:
df_mode_2013=pd.read_excel('../data-students/TourismData-2013/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2014=pd.read_excel('../data-students/TourismData-2014/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2016=pd.read_excel('../data-students/TourismData-2016/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2017=pd.read_excel('../data-students/TourismData-2017/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2018=pd.read_excel('../data-students/TourismData-2018/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2019=pd.read_excel('../data-students/TourismData-2019/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2020=pd.read_excel('../data-students/TourismData-2020/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2021=pd.read_excel('../data-students/TourismData-2021/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')
df_mode_2022=pd.read_excel('../data-students/TourismData-2022/MODE WISE DISTRIBUTION OF INDIAN NATIONALS DEPARTURES FROM INDIA.xlsx')

In [ ]:
df_port_2013=pd.read_excel('../data-students/TourismData-2013/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2014=pd.read_excel('../data-students/TourismData-2014/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2016=pd.read_excel('../data-students/TourismData-2016/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2017=pd.read_excel('../data-students/TourismData-2017/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2018=pd.read_excel('../data-students/TourismData-2018/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2019=pd.read_excel('../data-students/TourismData-2019/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2020=pd.read_excel('../data-students/TourismData-2020/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2021=pd.read_excel('../data-students/TourismData-2021/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')
df_port_2022=pd.read_excel('../data-students/TourismData-2022/PORT-WISE DEPARTURES OF INDIAN NATIONALS FROM INDIA.xlsx')

In [ ]:
df_dvf_2013=pd.read_excel('../data-students/TourismData-2013/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2014=pd.read_excel('../data-students/TourismData-2014/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2016=pd.read_excel('../data-students/TourismData-2016/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2017=pd.read_excel('../data-students/TourismData-2017/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2018=pd.read_excel('../data-students/TourismData-2018/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2019=pd.read_excel('../data-students/TourismData-2019/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2020=pd.read_excel('../data-students/TourismData-2020/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2021=pd.read_excel('../data-students/TourismData-2021/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2022=pd.read_excel('../data-students/TourismData-2022/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')

In [5]:
df_port_2013.head()

  Port/ Land Check post    Count
0      Mumbai (Airport)  3734176
1       Delhi (Airport)  3517589
2     Chennai (Airport)  1730503
3      Cochin (Airport)  1390833
4  Trivandrum (Airport)   854564

In [6]:
df_mode_2013.head()

   MODE  DEPARTURE
0   AIR   16408511
1  LAND     192866
2   SEA      24939

In [7]:
df_mode_2018.head()

   MODE  DEPARTURE
0   AIR   25898969
1  LAND     334925
2   SEA      62590

In [8]:
list_mode=[df_mode_2013,df_mode_2014,df_mode_2016,df_mode_2017,df_mode_2018,df_mode_2019,df_mode_2020,df_mode_2021,df_mode_2022]
for df in list_mode:
    df.columns = df.columns.str.upper()
    df['MODE'] = df['MODE'].str.upper()

list_mode=[df_mode_2013,df_mode_2014,df_mode_2016,df_mode_2017,df_mode_2018,df_mode_2019,df_mode_2020,df_mode_2021,df_mode_2022]

In [9]:
df_port_2022.head()

  Port/ land check post    Count
0       Delhi (Airport)  5383443
1      Mumbai (Airport)  4051228
2     Chennai (Airport)  1801127
3      Cochin (Airport)  1232178
4   Bengaluru (Airport)  1347761

In [10]:
list_port=[df_port_2013,df_port_2014,df_port_2016,df_port_2017,df_port_2018,df_port_2019,df_port_2020,df_port_2021,df_port_2022]
for df in list_port:
    df.columns = df.columns.str.upper()
    df['PORT/ LAND CHECK POST'] = df['PORT/ LAND CHECK POST'].str.strip()
    df['PORT/ LAND CHECK POST'] = df['PORT/ LAND CHECK POST'].str.upper()

list_port=[df_port_2013,df_port_2014,df_port_2016,df_port_2017,df_port_2018,df_port_2019,df_port_2020,df_port_2021,df_port_2022]

In [11]:
df_dvf_2013.head()

                    State/UT  Domestic  Foreign
0  Andaman & Nicobar Islands    243703    14742
1             Andhra Pradesh  98017783    69552
2          Arunachal Pradesh    125461    10846
3                      Assam   4684527    17638
4                      Bihar  21588306   765835

In [12]:
list_dvf=[df_dvf_2013,df_dvf_2014,df_dvf_2016,df_dvf_2017,df_dvf_2018,df_dvf_2019,df_dvf_2020,df_dvf_2021,df_dvf_2022]
for df in list_dvf:
    df.columns = df.columns.str.upper()
    df['STATE/UT'] = df['STATE/UT'].str.strip()
    df['STATE/UT'] = df['STATE/UT'].str.upper()

list_dvf=[df_dvf_2013,df_dvf_2014,df_dvf_2016,df_dvf_2017,df_dvf_2018,df_dvf_2019,df_dvf_2020,df_dvf_2021,df_dvf_2022]

In [13]:
df_dvf_2013.head()

                    STATE/UT  DOMESTIC  FOREIGN
0  ANDAMAN & NICOBAR ISLANDS    243703    14742
1             ANDHRA PRADESH  98017783    69552
2          ARUNACHAL PRADESH    125461    10846
3                      ASSAM   4684527    17638
4                      BIHAR  21588306   765835

In [14]:
df_port_2013

   PORT/ LAND CHECK POST    COUNT
0       MUMBAI (AIRPORT)  3734176
1        DELHI (AIRPORT)  3517589
2      CHENNAI (AIRPORT)  1730503
3       COCHIN (AIRPORT)  1390833
4   TRIVANDRUM (AIRPORT)   854564
5    HYDERABAD (AIRPORT)   925401
6      CALICUT (AIRPORT)  1112297
7    BENGALURU (AIRPORT)   852591
8      KOLKATA (AIRPORT)   562907
9    AHMEDABAD (AIRPORT)   366102
10                OTHERS  1579353

In [15]:
df_port_2014

   PORT/ LAND CHECK POST    COUNT
0       MUMBAI (AIRPORT)  4146539
1        DELHI (AIRPORT)  3794923
2       COCHIN (AIRPORT)  1610742
3      CHENNAI (AIRPORT)  1803368
4    HYDERABAD (AIRPORT)  1068658
5    BENGALURU (AIRPORT)   953558
6      CALICUT (AIRPORT)  1178769
7   TRIVANDRUM (AIRPORT)   924216
8      KOLKATA (AIRPORT)   591621
9    AHMEDABAD (AIRPORT)   396930
10                OTHERS  1862995

# 1

## 1 -> Mode

### Analysis

In [16]:
# Rename the 'DEPARTURE' column in each dataframe to include the year to avoid conflicts
df_mode_2013.rename(columns={'DEPARTURE': 'DEPARTURE_2013'}, inplace=True)
df_mode_2014.rename(columns={'DEPARTURE': 'DEPARTURE_2014'}, inplace=True)
df_mode_2016.rename(columns={'DEPARTURE': 'DEPARTURE_2016'}, inplace=True)
df_mode_2017.rename(columns={'DEPARTURE': 'DEPARTURE_2017'}, inplace=True)
df_mode_2018.rename(columns={'DEPARTURE': 'DEPARTURE_2018'}, inplace=True)
df_mode_2019.rename(columns={'DEPARTURE': 'DEPARTURE_2019'}, inplace=True)
df_mode_2020.rename(columns={'DEPARTURE': 'DEPARTURE_2020'}, inplace=True)
df_mode_2021.rename(columns={'DEPARTURE': 'DEPARTURE_2021'}, inplace=True)
df_mode_2022.rename(columns={'DEPARTURE': 'DEPARTURE_2022'}, inplace=True)

# List of renamed dataframes to merge
dfs_mode_renamed = [df_mode_2013, df_mode_2014, df_mode_2016, df_mode_2017, df_mode_2018, df_mode_2019, df_mode_2020, df_mode_2021, df_mode_2022]

# Perform an outer join on "mode/ LAND CHECK POST" column
Mode_df = dfs_mode_renamed[0]
for df in dfs_mode_renamed[1:]:
    Mode_df = Mode_df.merge(df, on='MODE', how='outer')

# Display the combined dataframe
# Mode_df
# print(Mode_df)
Mode_df

   MODE  DEPARTURE_2013  DEPARTURE_2014  DEPARTURE_2016  DEPARTURE_2017  DEPARTURE_2018  DEPARTURE_2019  DEPARTURE_2020  DEPARTURE_2021  DEPARTURE_2022
0   AIR      16408511.0      18083765.0      21563597.0      23584491.0      25898969.0        26422045       7095717.0       8419455.0      21142493.0
1  LAND        192866.0        215953.0        260428.0        303192.0        334925.0          393114        137199.0         65671.0        374110.0
2  RAIL             NaN             NaN             NaN             NaN             NaN           25171             NaN             NaN             NaN
3   SEA         24939.0         32601.0         47970.0         55274.0         62590.0           74704         58964.0         66183.0         86131.0

In [17]:
print(Mode_df)

   MODE  DEPARTURE_2013  DEPARTURE_2014  DEPARTURE_2016  DEPARTURE_2017  DEPARTURE_2018  DEPARTURE_2019  DEPARTURE_2020  DEPARTURE_2021  DEPARTURE_2022
0   AIR      16408511.0      18083765.0      21563597.0      23584491.0      25898969.0        26422045       7095717.0       8419455.0      21142493.0
1  LAND        192866.0        215953.0        260428.0        303192.0        334925.0          393114        137199.0         65671.0        374110.0
2  RAIL             NaN             NaN             NaN             NaN             NaN           25171             NaN             NaN             NaN
3   SEA         24939.0         32601.0         47970.0         55274.0         62590.0           74704         58964.0         66183.0         86131.0

In [18]:
# Step 1: Calculate overall sum across all modes and years
overall_sum = Mode_df[[col for col in Mode_df.columns if col.startswith('DEPARTURE_')]].sum().sum()

# Step 2: Calculate overall probability distribution for each mode
Mode_df['Total_Sum'] = Mode_df[[col for col in Mode_df.columns if col.startswith('DEPARTURE_')]].sum(axis=1)
Mode_df['Overall_Probability'] = Mode_df['Total_Sum'] / overall_sum

# Step 3: Calculate year-wise probabilities within each mode
for col in Mode_df.columns:
    if col.startswith('DEPARTURE_'):
        Mode_df[f'{col}_Probability'] = Mode_df[col] / Mode_df['Total_Sum']

# Drop 'Total_Sum' if it’s no longer needed
Mode_df.drop(columns=['Total_Sum'], inplace=True)

# Display the resulting DataFrame with probabilities
# probability_mode_df=Mode_df[['MODE', 'Overall_Probability'] + [col for col in Mode_df.columns if 'Probability' in col]]
probability_mode_df=Mode_df[['MODE'] + [col for col in Mode_df.columns if 'Probability' in col]]

probability_mode_df

   MODE  Overall_Probability  DEPARTURE_2013_Probability  DEPARTURE_2014_Probability  DEPARTURE_2016_Probability  DEPARTURE_2017_Probability  DEPARTURE_2018_Probability  DEPARTURE_2019_Probability  DEPARTURE_2020_Probability  DEPARTURE_2021_Probability  DEPARTURE_2022_Probability
0   AIR             0.983597                    0.097311                    0.107246                    0.127884                    0.139868                    0.153595                    0.156697                    0.042081                    0.049932                    0.125386
1  LAND             0.013285                    0.084685                    0.094822                    0.114350                    0.133127                    0.147061                    0.172611                    0.060242                    0.028835                    0.164266
2  RAIL             0.000147                         NaN                         NaN                         NaN                         NaN                         NaN                    1.000000                         NaN                         NaN                         NaN
3   SEA             0.002971                    0.048962                    0.064004                    0.094178                    0.108517                    0.122881                    0.146664                    0.115762                    0.129935                    0.169098

### Result

In [19]:
probability_mode_df.to_csv("1_overall_mode_distribution.csv",index=False)

## 2 -> Port

### Analysis

In [20]:
# Rename the 'COUNT' column in each dataframe to include the year to avoid conflicts
df_port_2013.rename(columns={'COUNT': 'COUNT_2013'}, inplace=True)
df_port_2014.rename(columns={'COUNT': 'COUNT_2014'}, inplace=True)
df_port_2016.rename(columns={'COUNT': 'COUNT_2016'}, inplace=True)
df_port_2017.rename(columns={'COUNT': 'COUNT_2017'}, inplace=True)
df_port_2018.rename(columns={'COUNT': 'COUNT_2018'}, inplace=True)
df_port_2019.rename(columns={'COUNT': 'COUNT_2019'}, inplace=True)
df_port_2020.rename(columns={'COUNT': 'COUNT_2020'}, inplace=True)
df_port_2021.rename(columns={'COUNT': 'COUNT_2021'}, inplace=True)
df_port_2022.rename(columns={'COUNT': 'COUNT_2022'}, inplace=True)

# List of renamed dataframes to merge
dfs_renamed = [df_port_2013, df_port_2014, df_port_2016, df_port_2017, df_port_2018, df_port_2019, df_port_2020, df_port_2021, df_port_2022]

# Perform an outer join on "PORT/ LAND CHECK POST" column
Port_df = dfs_renamed[0]
for df in dfs_renamed[1:]:
    Port_df = Port_df.merge(df, on='PORT/ LAND CHECK POST', how='outer')

# Display the combined dataframe
# Port_df
print(Port_df)

   PORT/ LAND CHECK POST  COUNT_2013  COUNT_2014  COUNT_2016  COUNT_2017  COUNT_2018  COUNT_2019  COUNT_2020  COUNT_2021  COUNT_2022
0    AHMEDABAD (AIRPORT)      366102      396930      494394      504689      605404      547665      175967      215510      556120
1    BENGALURU (AIRPORT)      852591      953558     1240313     1353255     1658292     1876614      399089      426154     1347761
2      CALICUT (AIRPORT)     1112297     1178769     1110940     1353560     1405048     1466804      457160      638778     1238163
3      CHENNAI (AIRPORT)     1730503     1803368     1999412     2078070     2361244     2346340      549255      533722     1801127
4       COCHIN (AIRPORT)     1390833     1610742     2190681     2215214     2142700     2075894      592351      960821     1232178
5        DELHI (AIRPORT)     3517589     3794923     4475300     5119669     5801451     5964819     1789762     2278502     5383443
6    HYDERABAD (AIRPORT)      925401     1068658     1313670     1395090     1601374     1663965      447007      551170     1627527
7      KOLKATA (AIRPORT)      562907      591621      752497      832156      899897     1069795      207163      243747      423547
8       MUMBAI (AIRPORT)     3734176     4146539     4692109     5097038     5457293     4990371     1266726     1246851     4051228
9                 OTHERS     1579353     1862995     2565422     2898303     3189311     3873116     1117319     1046819     3174497
10  TRIVANDRUM (AIRPORT)      854564      924216     1037257     1095913     1174470     1037851      292767      409241      767143

In [21]:
Port_df

   PORT/ LAND CHECK POST  COUNT_2013  COUNT_2014  COUNT_2016  COUNT_2017  COUNT_2018  COUNT_2019  COUNT_2020  COUNT_2021  COUNT_2022
0    AHMEDABAD (AIRPORT)      366102      396930      494394      504689      605404      547665      175967      215510      556120
1    BENGALURU (AIRPORT)      852591      953558     1240313     1353255     1658292     1876614      399089      426154     1347761
2      CALICUT (AIRPORT)     1112297     1178769     1110940     1353560     1405048     1466804      457160      638778     1238163
3      CHENNAI (AIRPORT)     1730503     1803368     1999412     2078070     2361244     2346340      549255      533722     1801127
4       COCHIN (AIRPORT)     1390833     1610742     2190681     2215214     2142700     2075894      592351      960821     1232178
5        DELHI (AIRPORT)     3517589     3794923     4475300     5119669     5801451     5964819     1789762     2278502     5383443
6    HYDERABAD (AIRPORT)      925401     1068658     1313670     1395090     1601374     1663965      447007      551170     1627527
7      KOLKATA (AIRPORT)      562907      591621      752497      832156      899897     1069795      207163      243747      423547
8       MUMBAI (AIRPORT)     3734176     4146539     4692109     5097038     5457293     4990371     1266726     1246851     4051228
9                 OTHERS     1579353     1862995     2565422     2898303     3189311     3873116     1117319     1046819     3174497
10  TRIVANDRUM (AIRPORT)      854564      924216     1037257     1095913     1174470     1037851      292767      409241      767143

In [22]:
# Code to calculate and return the overall and port-wise multinomial probability distributions in a DataFrame
df=Port_df.copy()

# Calculate the total count for each port across all years
df['Overall_Sum'] = df[[col for col in df.columns if col.startswith('COUNT_')]].sum(axis=1)

# Calculate the overall total count across all ports
total_count_all_ports = df['Overall_Sum'].sum()

# Add a single 'Overall_Probability' column
df['Overall_Probability'] = df['Overall_Sum'] / total_count_all_ports

# Calculate probabilities for each year column only once
for col in df.columns:
    if col.startswith('COUNT_'):
        df[f'{col}_Probability'] = df[col] / df['Overall_Sum']

# Drop the intermediate 'Overall_Sum' column if no longer needed
df.drop(columns=['Overall_Sum'], inplace=True)

# The resulting `df` will have a single 'Overall_Probability' and probabilities for each year.
probability_port_df =df[['PORT/ LAND CHECK POST', 'Overall_Probability'] + [col for col in df.columns if 'Probability' in col]]
# probability_df =df[['PORT/ LAND CHECK POST'] + [col for col in df.columns if 'Probability' in col]]

# Displaying the DataFrame with probabilities
probability_port_df

   PORT/ LAND CHECK POST  Overall_Probability  Overall_Probability  COUNT_2013_Probability  COUNT_2014_Probability  COUNT_2016_Probability  COUNT_2017_Probability  COUNT_2018_Probability  COUNT_2019_Probability  COUNT_2020_Probability  COUNT_2021_Probability  COUNT_2022_Probability
0    AHMEDABAD (AIRPORT)             0.022532             0.022532                0.094777                0.102758                0.127989                0.130654                0.156727                0.141780                0.045554                0.055791                0.143969
1    BENGALURU (AIRPORT)             0.058960             0.058960                0.084351                0.094340                0.122711                0.133885                0.164063                0.185663                0.039484                0.042162                0.133341
2      CALICUT (AIRPORT)             0.058108             0.058108                0.111659                0.118332                0.111523                0.135879                0.141048                0.147247                0.045893                0.064125                0.124295
3      CHENNAI (AIRPORT)             0.088683             0.088683                0.113826                0.118619                0.131514                0.136688                0.155314                0.154334                0.036128                0.035106                0.118471
4       COCHIN (AIRPORT)             0.084065             0.084065                0.096509                0.111768                0.152010                0.153712                0.148681                0.144045                0.041103                0.066671                0.085500
5        DELHI (AIRPORT)             0.222394             0.222394                0.092264                0.099538                0.117384                0.134285                0.152167                0.156452                0.046944                0.059763                0.141203
6    HYDERABAD (AIRPORT)             0.061796             0.061796                0.087353                0.100875                0.124003                0.131689                0.151161                0.157069                0.042195                0.052027                0.153629
7      KOLKATA (AIRPORT)             0.032569             0.032569                0.100819                0.105962                0.134776                0.149043                0.161176                0.191605                0.037104                0.043656                0.075859
8       MUMBAI (AIRPORT)             0.202310             0.202310                0.107668                0.119558                0.135288                0.146964                0.157351                0.143888                0.036524                0.035951                0.116810
9                 OTHERS             0.124289             0.124289                0.074123                0.087435                0.120402                0.136025                0.149683                0.181776                0.052439                0.049130                0.148988
10  TRIVANDRUM (AIRPORT)             0.044294             0.044294                0.112540                0.121713                0.136599                0.144324                0.154669                0.136678                0.038555                0.053894                0.101027

### Result

In [23]:
probability_port_df.to_csv("1_overall_port_distribution.csv",index=False)

## 3 -> Dom vs For

### Analysis

- Domestic

In [24]:
dfs=list_dvf

# Define the specific values for row match in 'A' and 'C' (e.g., "QW")
match_value_A = "DADRA & NAGAR HAVELI"
match_value_B = "DAMAN & DIU"

# Initialize the sum for the specific row and column
sum_value_A_Dom = 0
sum_value_B_Dom = 0

# Iterate over all DataFrames in the list
for df in dfs:
    # Check if the row in column 'A' and 'C' matches the values
    # matching_row = (df['STATE/UT'] == match_value_A) & (df['C'] == match_value_C)
    matching_row_DADRA = (df['STATE/UT'] == match_value_A)
    matching_row_DAMAN = (df['STATE/UT'] == match_value_B)
    
    # If a match is found, sum the corresponding 'B' value
    sum_value_A_Dom += df.loc[matching_row_DADRA, 'DOMESTIC'].sum()
    sum_value_B_Dom += df.loc[matching_row_DAMAN, 'DOMESTIC'].sum()

# Display the final sum for column 'B' in the matched row
# print("Total sum of 'DADRA' for matching row:", sum_value_A_Dom)
# print("Total sum of 'DAMAN' for matching row:", sum_value_B_Dom)
DD_Ratio_Dom=sum_value_A_Dom/(sum_value_B_Dom+sum_value_A_Dom)
# print("The raio for Domestic 'DADRA'/'DAMAN: ",DD_Ratio_Dom)

- FOREIGN

In [25]:
dfs=list_dvf

# Define the specific values for row match in 'A' and 'C' (e.g., "QW")
match_value_DADRA = "DADRA & NAGAR HAVELI"
match_value_DAMAN = "DAMAN & DIU"

# Initialize the sum for the specific row and column
sum_value_DADRA_For = 0
sum_value_DAMAN_For = 0

# Iterate over all DataFrames in the list
for df in dfs:
    # Check if the row in column 'A' and 'C' matches the values
    # matching_row = (df['STATE/UT'] == match_value_A) & (df['C'] == match_value_C)
    matching_row_DADRA = (df['STATE/UT'] == match_value_DADRA)
    matching_row_DAMAN = (df['STATE/UT'] == match_value_DAMAN)
    
    # If a match is found, sum the corresponding 'B' value
    sum_value_DADRA_For += df.loc[matching_row_DADRA, 'FOREIGN'].sum()
    sum_value_DAMAN_For += df.loc[matching_row_DAMAN, 'FOREIGN'].sum()

# Display the final sum for column 'B' in the matched row
# print("Total sum of 'DADRA' for matching row:", sum_value_DADRA_For)
# print("Total sum of 'DAMAN' for matching row:", sum_value_DAMAN_For)
DD_Ratio_For=sum_value_DADRA_For/(sum_value_DAMAN_For+sum_value_DADRA_For)
# print("The raio for Foreign 'DADRA'/'DAMAN': ",DD_Ratio_For)

In [26]:
# Rename the 'DOMESTIC' column in each dataframe to include the year to avoid conflicts
df_dvf_2013.rename(columns={'DOMESTIC': 'DOMESTIC_2013'}, inplace=True)
df_dvf_2014.rename(columns={'DOMESTIC': 'DOMESTIC_2014'}, inplace=True)
df_dvf_2016.rename(columns={'DOMESTIC': 'DOMESTIC_2016'}, inplace=True)
df_dvf_2017.rename(columns={'DOMESTIC': 'DOMESTIC_2017'}, inplace=True)
df_dvf_2018.rename(columns={'DOMESTIC': 'DOMESTIC_2018'}, inplace=True)
df_dvf_2019.rename(columns={'DOMESTIC': 'DOMESTIC_2019'}, inplace=True)
df_dvf_2020.rename(columns={'DOMESTIC': 'DOMESTIC_2020'}, inplace=True)
df_dvf_2021.rename(columns={'DOMESTIC': 'DOMESTIC_2021'}, inplace=True)
df_dvf_2022.rename(columns={'DOMESTIC': 'DOMESTIC_2022'}, inplace=True)

df_dvf_2013.rename(columns={'FOREIGN': 'FOREIGN_2013'}, inplace=True)
df_dvf_2014.rename(columns={'FOREIGN': 'FOREIGN_2014'}, inplace=True)
df_dvf_2016.rename(columns={'FOREIGN': 'FOREIGN_2016'}, inplace=True)
df_dvf_2017.rename(columns={'FOREIGN': 'FOREIGN_2017'}, inplace=True)
df_dvf_2018.rename(columns={'FOREIGN': 'FOREIGN_2018'}, inplace=True)
df_dvf_2019.rename(columns={'FOREIGN': 'FOREIGN_2019'}, inplace=True)
df_dvf_2020.rename(columns={'FOREIGN': 'FOREIGN_2020'}, inplace=True)
df_dvf_2021.rename(columns={'FOREIGN': 'FOREIGN_2021'}, inplace=True)
df_dvf_2022.rename(columns={'FOREIGN': 'FOREIGN_2022'}, inplace=True)

# List of renamed dataframes to merge
dfs_renamed = [df_dvf_2013, df_dvf_2014, df_dvf_2016, df_dvf_2017, df_dvf_2018, df_dvf_2019, df_dvf_2020, df_dvf_2021, df_dvf_2022]

# Perform an outer join on "STATE/UT" column
dvf_df = dfs_renamed[0]
for df in dfs_renamed[1:]:
    dvf_df = dvf_df.merge(df, on='STATE/UT', how='outer')

# Display the combined dataframe
# dvf_df
# print(dvf_df)
# dvf_df

In [27]:
matching_row_DAD_DAM = (dvf_df['STATE/UT'] == 'UT OF DADRA & NAGAR HAVELI AND DAMAN & DIU')
DAD_DAM_Dom=dvf_df.loc[matching_row_DAD_DAM, 'DOMESTIC_2022']
DAD_DAM_For=dvf_df.loc[matching_row_DAD_DAM, 'FOREIGN_2022']
# matching_row_DAD_DAM
# DAD_DAM_For
matching_row_DADRA = (dvf_df['STATE/UT'] == match_value_DADRA)
matching_row_DAMAN = (dvf_df['STATE/UT'] == match_value_DADRA)
# dvf_df.loc[matching_row_DADRA, 'DOMESTIC_2022'] = DD_Ratio_Dom*(DAD_DAM_Dom)
# dvf_df.loc[matching_row_DAMAN, 'DOMESTIC_2022'] = (1-DD_Ratio_Dom)*(DAD_DAM_Dom)

# # matching_row_DADRA = (dvf_df['STATE/UT'] == match_value_DADRA)
# dvf_df.loc[matching_row_DADRA, 'FOREIGN_2022'] = DD_Ratio_For*(DAD_DAM_For)
# dvf_df.loc[matching_row_DAMAN, 'FOREIGN_2022'] = (1-DD_Ratio_For)*(DAD_DAM_For)
# DAD_DAM_Dom,DAD_DAM_For
# x=(1-DD_Ratio_For)*(DAD_DAM_For)
# int(x)
Dadra_Dom=DD_Ratio_Dom*(DAD_DAM_Dom)
Daman_Dom=(1-DD_Ratio_Dom)*(DAD_DAM_Dom)
Dadra_For=DD_Ratio_For*(DAD_DAM_For)
Daman_For=(1-DD_Ratio_For)*(DAD_DAM_For)

In [28]:
dvf_df.loc[dvf_df['STATE/UT'] == 'DADRA & NAGAR HAVELI', 'DOMESTIC_2022'] = int(Dadra_Dom)
dvf_df.loc[dvf_df['STATE/UT'] == 'DAMAN & DIU', 'DOMESTIC_2022'] = int(Daman_Dom)

dvf_df.loc[dvf_df['STATE/UT'] == 'DADRA & NAGAR HAVELI', 'FOREIGN_2022'] = int(Dadra_For)
dvf_df.loc[dvf_df['STATE/UT'] == 'DAMAN & DIU', 'FOREIGN_2022'] = int(Daman_For)

dvf_df = dvf_df[dvf_df['STATE/UT'] != 'UT OF DADRA & NAGAR HAVELI AND DAMAN & DIU']

In [29]:
# print(df[df['STATE/UT'] == 'UT OF DADRA & NAGAR HAVELI AND DAMAN & DIU'])

In [30]:
# dvf_df

In [31]:
# Assuming dvf_df is your original DataFrame
df = dvf_df.copy()

# Check the columns in your DataFrame
columns_in_df = df.columns
# print("Columns available in the DataFrame:", columns_in_df)

# Dynamically filter out valid year columns (excluding 2015)
valid_years = [str(year) for year in range(2013, 2023) if f'DOMESTIC_{year}' in columns_in_df and f'FOREIGN_{year}' in columns_in_df]

# List of year columns (DOMESTIC and FOREIGN for each available year)
year_columns = []
for year in valid_years:
    year_columns.append(f'DOMESTIC_{year}')
    year_columns.append(f'FOREIGN_{year}')

# Calculate the total sum for each year (sum of domestic and foreign for each year)
total_per_year = df[year_columns].sum()

# Check if there are any zero or NaN values in the total sums (which could lead to NaNs in the probability calculation)
# print("Total sum for each year:\n", total_per_year)

# Handle any NaN or zero values in total_per_year by replacing them with a small number or skipping them
total_per_year = total_per_year.replace(0, 1)  # Avoid division by zero by replacing zeros with 1
total_per_year = total_per_year.fillna(1)  # Replace NaN with 1 to avoid NaN in division

# Create a new DataFrame for probabilities (don't overwrite original df)
probabilities_dvf_df = df[['STATE/UT']].copy()  # Ensure STATE/UT remains as a column, not index

# Calculate the probabilities for each row (state/UT) by dividing the counts by the total sum for each year
for year in valid_years:  # Looping through the valid years
    for domestic_foreign in ['DOMESTIC', 'FOREIGN']:
        column = f'{domestic_foreign}_{year}'
        # Ensure there are no NaN or infinite values before dividing
        probabilities_dvf_df[column] = df[column] / total_per_year[column]

# Calculate the overall probability for each state (sum of probabilities across all years for each state)
# Sum probabilities for both DOMESTIC and FOREIGN columns for each state
probabilities_dvf_df['overall_probability'] = 0  # Initialize a new column for overall probability

# Iterate over each row (state/UT) and calculate the overall probability for that state
for index, row in probabilities_dvf_df.iterrows():
    total_prob = row[year_columns].sum()  # Sum over all DOMESTIC and FOREIGN columns for each state
    probabilities_dvf_df.at[index, 'overall_probability'] = total_prob / len(year_columns)  # Normalize by the number of columns

# Reorder columns to make 'overall_probability' the second column (STATE/UT first, overall_probability second)
cols = ['STATE/UT', 'overall_probability'] + [col for col in probabilities_dvf_df.columns if col not in ['STATE/UT', 'overall_probability']]
probabilities_dvf_df = probabilities_dvf_df[cols]

# Check the resulting probabilities_dvf_df for NaNs or issues
# print("Calculated Probabilities with Overall Probability as Second Column:\n", probabilities_dvf_df)

# Calculate overall probabilities for the entire dataset (sum of all DOMESTIC and FOREIGN columns)
overall_probabilities = df[year_columns].sum() / total_per_year.sum()

# Adding the overall probabilities as a row to the dataframe (not an index)
probabilities_dvf_df.loc['Overall'] = overall_probabilities

# Display the probabilities
# print(probabilities_dvf_df)
probabilities_dvf_df

                          STATE/UT  overall_probability  DOMESTIC_2013  FOREIGN_2013  DOMESTIC_2014  FOREIGN_2014  DOMESTIC_2016  FOREIGN_2016  DOMESTIC_2017  FOREIGN_2017  DOMESTIC_2018  FOREIGN_2018  DOMESTIC_2019  FOREIGN_2019  DOMESTIC_2020  FOREIGN_2020  DOMESTIC_2021  FOREIGN_2021  DOMESTIC_2022  FOREIGN_2022
0        ANDAMAN & NICOBAR ISLANDS             0.000482       0.000213      0.000739       0.000190      0.000772       0.000238      0.000628       0.000286      0.000570       0.000269      0.000528       0.000218      0.000516       0.000313      0.000755       0.000186      0.001600       0.000136      0.000524
1                   ANDHRA PRADESH             0.056611       0.085790      0.003486       0.062072      0.002970       0.094923      0.013871       0.100112      0.010093       0.105000      0.009735       0.102090      0.008926       0.116071      0.009425       0.137652      0.026124       0.111358      0.019307
2                ARUNACHAL PRADESH             0.000220       0.000110      0.000544       0.000224      0.000233       0.000239      0.000268       0.000269      0.000266       0.000276      0.000265       0.000239      0.000249       0.000070      0.000134       0.000152      0.000173       0.000128      0.000128
3                            ASSAM             0.002031       0.004100      0.000884       0.003211      0.000964       0.003198      0.000515       0.003663      0.000809       0.003157      0.001276       0.002346      0.000856       0.002076      0.001016       0.002080      0.000508       0.004842      0.001048
4                            BIHAR             0.023048       0.018895      0.038386       0.014998      0.037141       0.017673      0.041013       0.019615      0.040269       0.018126      0.037682       0.014638      0.034804       0.009239      0.042957       0.003691      0.000992       0.014633      0.010108
5                       CHANDIGARH             0.001450       0.000820      0.002011       0.000706      0.001270       0.000733      0.001280       0.000863      0.001184       0.000830      0.001374       0.000673      0.001405       0.000685      0.001704       0.000338      0.005169       0.001749      0.003307
6                     CHHATTISGARH             0.013660       0.019957      0.000195       0.162909      0.000348       0.010247      0.000374       0.007402      0.000248       0.010421      0.000499       0.007452      0.000217       0.004605      0.000324       0.007006      0.000008       0.013654      0.000023
7             DADRA & NAGAR HAVELI             0.000187       0.000422      0.000079       0.000386      0.000081       0.000365      0.000077       0.000372      0.000071       0.000329      0.000056       0.000266      0.000053       0.000172      0.000031       0.000292      0.000076       0.000182      0.000051
8                      DAMAN & DIU             0.000351       0.000718      0.000241       0.000529      0.000207       0.000512      0.000230       0.000519      0.000206       0.000485      0.000197       0.000387      0.000182       0.000487      0.000193       0.000684      0.000100       0.000280      0.000159
9                            DELHI             0.058044       0.017693      0.115352       0.015052      0.103835       0.017639      0.102280       0.017619      0.101928       0.015696      0.094918       0.015705      0.094988       0.015705      0.094988       0.015705      0.094988       0.015705      0.094988
10                             GOA             0.015880       0.002301      0.024677       0.002358      0.022996       0.003502      0.027626       0.004173      0.031325       0.003818      0.032344       0.003069      0.029836       0.005340      0.042214       0.004882      0.020982       0.004051      0.020355
11                         GUJARAT             0.035337       0.023993      0.009963       0.020564      0.010546       0.026186      0.013952       0.029255      0.016694       0.029311      0.017772       0.025351      0.018963       0.031898      0.029288       0.036192      0.010733       0.078455      0.206954
12                         HARYANA             0.004946       0.006239      0.011438       0.004967      0.014093       0.004576      0.013446       0.003661      0.007192       0.002636      0.002562       0.001959      0.001530       0.003466      0.002436       0.002989      0.004341       0.001218      0.000279
13                HIMACHAL PRADESH             0.010946       0.012880      0.020763       0.010594      0.017449       0.011154      0.018376       0.011577      0.017518       0.008676      0.012350       0.007248      0.012190       0.005196      0.005949       0.008312      0.004676       0.008706      0.003412
14                 JAMMU & KASHMIR             0.006291       0.009533      0.003050       0.006279      0.003872       0.005835      0.002565       0.008615      0.002967       0.009206      0.004832       0.015323      0.005605       0.004219      0.000068       0.016698      0.001565       0.010687      0.002329
15                       JHARKHAND             0.010759       0.017952      0.002305       0.022237      0.006928       0.020693      0.006877       0.020408      0.006360       0.019089      0.006089       0.006961      0.001844       0.004129      0.000741       0.004993      0.001552       0.022116      0.022393
16                       KARNATAKA             0.064395       0.085783      0.031897       0.078688      0.025158       0.080420      0.018741       0.108915      0.018528       0.115533      0.018832       0.098164      0.019382       0.126928      0.023052       0.120026      0.068731       0.105376      0.014964
17                          KERALA             0.026051       0.009503      0.043012       0.007780      0.041343       0.008164      0.042145       0.008880      0.040610       0.008413      0.037974       0.007917      0.037880       0.008176      0.047513       0.011123      0.057353       0.010899      0.040233
18                          LADAKH             0.000318            NaN           NaN            NaN           NaN            NaN           NaN            NaN           NaN            NaN           NaN       0.000104      0.001231       0.000011      0.000157       0.000447      0.000999       0.000295      0.002480
19                     LAKSHADWEEP             0.000018       0.000004      0.000019       0.000005      0.000023       0.000005      0.000031       0.000004      0.000038       0.000006      0.000045       0.000003      0.000026       0.000006      0.000058       0.000020      0.000004       0.000013      0.000012
20                  MADHYA PRADESH             0.031967       0.055238      0.014051       0.042319      0.014158       0.093267      0.014741       0.047225      0.013357       0.045268      0.013005       0.038203      0.010442       0.038543      0.013918       0.037711      0.039446       0.020709      0.023814
21                     MAHARASHTRA             0.125725       0.072384      0.208327       0.061623      0.196521       0.072211      0.189539       0.072129      0.188886       0.064257      0.175895       0.064296      0.176025       0.064296      0.176025       0.064296      0.176025       0.064294      0.176025
22                         MANIPUR             0.000190       0.000123      0.000096       0.000077      0.000124       0.000093      0.000124       0.000093      0.000130       0.000095      0.000221       0.000072      0.000433       0.000081      0.000438       0.000073      0.000614       0.000081      0.000454
23                       MEGHALAYA             0.000488       0.000605      0.000339       0.000477      0.000388       0.000515      0.000344       0.000600      0.000448       0.000646      0.000627       0.000536      0.000822       0.000041      0.000322       0.000228      0.000390       0.000541      0.000908
24                         MIZORAM             0.000079       0.000055      0.000040       0.000045      0.000041       0.000042      0.000038       0.000041      0.000043       0.000041      0.000033       0.000071      0.000072       0.000051      0.000037       0.000129      0.000222       0.000126      0.000303
25                        NAGALAND             0.000111       0.000031      0.000166       0.000039      0.000116       0.000036      0.000132       0.000038      0.000155       0.000055      0.000174       0.000054      0.000178       0.000018      0.000072       0.000035      0.000308       0.000056      0.000338
26                          ODISHA             0.004936       0.008578      0.003342       0.007178      0.003198       0.007959      0.000310       0.008479      0.003720       0.008199      0.003838       0.006592      0.003665       0.007575      0.001423       0.005522      0.002151       0.004545      0.002574
27                      PUDUCHERRY             0.002677       0.000875      0.002136       0.000790      0.003729       0.000867      0.004766       0.000927      0.004887       0.000872      0.004888       0.000738      0.004773       0.001827      0.012839       0.001849      0.000304       0.001017      0.000105
28                          PUNJAB             0.042019       0.018679      0.010229       0.016146      0.011438       0.023986      0.026776       0.024383      0.041234       0.024041      0.041596       0.020407      0.035065       0.027355      0.050073       0.039314      0.292170       0.015071      0.038370
29                       RAJASTHAN             0.043688       0.026518      0.072034       0.022004      0.068307       0.025717      0.061436       0.027786      0.059880       0.027082      0.060762       0.022490      0.051118       0.024774      0.062252       0.032449      0.033003       0.062579      0.046196
30                          SIKKIM             0.002359       0.000505      0.001589       0.000374      0.002202       0.000463      0.002679       0.000833      0.001827       0.000769      0.002465       0.000612      0.004247       0.000519      0.002780       0.000755      0.010912       0.000939      0.007988
31                      TAMIL NADU             0.182500       0.213765      0.200014       0.217906      0.208544       0.213078      0.191646       0.208813      0.180776       0.208045      0.210386       0.213122      0.218613       0.230494      0.171272       0.170205      0.054637       0.126272      0.047407
32                       TELANGANA             0.028243       0.047337      0.007717       0.048163      0.003366       0.058976      0.006760       0.051599      0.009367       0.050071      0.011019       0.035761      0.010294       0.065546      0.006511       0.047224      0.005610       0.035093      0.007965
33                         TRIPURA             0.001214       0.000315      0.000594       0.000240      0.001195       0.000230      0.001493       0.000241      0.002600       0.000223      0.003563       0.000188      0.004916       0.000209      0.004445       0.000262      0.000005       0.000136      0.000990
35                   UTTAR PRADESH             0.137874       0.198272      0.102973       0.121621      0.130283       0.131206      0.128123       0.141591      0.132267       0.153687      0.130947       0.230775      0.151079       0.141134      0.124228       0.161899      0.042419       0.183652      0.075576
36                     UTTARAKHAND             0.012733       0.017453      0.004896       0.014630      0.004565       0.018906      0.004753       0.020793      0.004974       0.019197      0.005241       0.016187      0.004848       0.011480      0.005764       0.028680      0.008090       0.031566      0.007173
37                     WEST BENGAL             0.052170       0.022360      0.062414       0.032617      0.061598       0.046147      0.062044       0.048223      0.058576       0.046178      0.056009       0.039779      0.052729       0.047265      0.064598       0.035898      0.033024       0.048838      0.120758
Overall                        NaN                  NaN       0.086044      0.001503       0.113205      0.001682       0.121516      0.001856       0.124448      0.002025       0.139695      0.002174       0.174868      0.002365       0.045955      0.000540       0.051032      0.000079       0.130366      0.000647

### Result

In [32]:
probabilities_dvf_df.to_csv("1_overall_dvf_distribution.csv",index=False)

In [33]:
# Calculate the total sum of values in a specific column, e.g., 'COUNT_2013'
# total_sum = Port_df['COUNT_2013'].sum()
# total_sum = Port_df['Overall_Probability'].sum()
# total_sum = probabilities_df['DOMESTIC_2013'].sum()
# print(total_sum)

# 2

##

## Mode

### Analysis

In [34]:
Mode_df

   MODE  DEPARTURE_2013  DEPARTURE_2014  DEPARTURE_2016  DEPARTURE_2017  DEPARTURE_2018  DEPARTURE_2019  DEPARTURE_2020  DEPARTURE_2021  DEPARTURE_2022  Overall_Probability  DEPARTURE_2013_Probability  DEPARTURE_2014_Probability  DEPARTURE_2016_Probability  DEPARTURE_2017_Probability  DEPARTURE_2018_Probability  DEPARTURE_2019_Probability  DEPARTURE_2020_Probability  DEPARTURE_2021_Probability  DEPARTURE_2022_Probability
0   AIR      16408511.0      18083765.0      21563597.0      23584491.0      25898969.0        26422045       7095717.0       8419455.0      21142493.0             0.983597                    0.097311                    0.107246                    0.127884                    0.139868                    0.153595                    0.156697                    0.042081                    0.049932                    0.125386
1  LAND        192866.0        215953.0        260428.0        303192.0        334925.0          393114        137199.0         65671.0        374110.0             0.013285                    0.084685                    0.094822                    0.114350                    0.133127                    0.147061                    0.172611                    0.060242                    0.028835                    0.164266
2  RAIL             NaN             NaN             NaN             NaN             NaN           25171             NaN             NaN             NaN             0.000147                         NaN                         NaN                         NaN                         NaN                         NaN                    1.000000                         NaN                         NaN                         NaN
3   SEA         24939.0         32601.0         47970.0         55274.0         62590.0           74704         58964.0         66183.0         86131.0             0.002971                    0.048962                    0.064004                    0.094178                    0.108517                    0.122881                    0.146664                    0.115762                    0.129935                    0.169098

In [35]:
# import pandas as pd
import numpy as np
from scipy.stats import entropy

# Sample data setup
data = {
    'MODE': ['AIR', 'LAND', 'RAIL', 'SEA'],
    'DEPARTURE_2013': [16408511.0, 192866.0, np.nan, 24939.0],
    'DEPARTURE_2014': [18083765.0, 215953.0, np.nan, 32601.0],
    'DEPARTURE_2016': [21563597.0, 260428.0, np.nan, 47970.0],
    'DEPARTURE_2017': [23584491.0, 303192.0, np.nan, 55274.0],
    'DEPARTURE_2018': [25898969.0, 334925.0, np.nan, 62590.0],
    'DEPARTURE_2019': [26422045.0, 393114.0, 25171.0, 74704.0],
    'DEPARTURE_2020': [7095717.0, 137199.0, np.nan, 58964.0],
    'DEPARTURE_2021': [8419455.0, 65671.0, np.nan, 66183.0],
    'DEPARTURE_2022': [21142493.0, 374110.0, np.nan, 86131.0]
}
Mode_df = pd.DataFrame(data)

# Dictionary to store results for maximum and minimum entropy by mode
entropy_results = {'MODE': [], 'Max_Entropy_Year': [], 'Max_Entropy_Value': [], 'Min_Entropy_Year': [], 'Min_Entropy_Value': []}

# Calculate entropy for each mode (row-wise entropy)
for index, row in Mode_df.iterrows():
    mode = row['MODE']
    row_data = row.drop(labels='MODE').dropna()  # Drop NaN values
    
    # Normalize data across the years for probability distribution
    prob_distribution = row_data / row_data.sum()
    
    # Calculate entropy per year and store results
    year_entropy = prob_distribution.apply(lambda x: -x * np.log2(x) if x > 0 else 0)
    
    # Find years of max and min entropy
    max_entropy_year = year_entropy.idxmax()
    min_entropy_year = year_entropy.idxmin()
    
    # Append results for each mode
    entropy_results['MODE'].append(mode)
    entropy_results['Max_Entropy_Year'].append(max_entropy_year)
    entropy_results['Max_Entropy_Value'].append(year_entropy[max_entropy_year])
    entropy_results['Min_Entropy_Year'].append(min_entropy_year)
    entropy_results['Min_Entropy_Value'].append(year_entropy[min_entropy_year])

# Convert results to DataFrame
entropy_df = pd.DataFrame(entropy_results)

# Calculate the overall entropy per year by summing counts across modes for each year
overall_data = Mode_df.drop(columns=['MODE']).sum()  # Summing departures for each year across all modes
overall_prob_distribution = overall_data / overall_data.sum()  # Normalizing across years

# Calculate entropy for each year in the overall distribution
overall_year_entropy = overall_prob_distribution.apply(lambda x: -x * np.log2(x) if x > 0 else 0)

# Find the year with the maximum and minimum entropy for the overall distribution
overall_max_entropy_year = overall_year_entropy.idxmax()
overall_min_entropy_year = overall_year_entropy.idxmin()
overall_max_entropy_value = overall_year_entropy[overall_max_entropy_year]
overall_min_entropy_value = overall_year_entropy[overall_min_entropy_year]

# Display results
# print("Entropy Results by Mode:")
# print(entropy_df)

# print("\nOverall Entropy Results:")
# print(f"Year with Max Entropy: {overall_max_entropy_year}, Max Entropy Value: {overall_max_entropy_value}")
# print(f"Year with Min Entropy: {overall_min_entropy_year}, Min Entropy Value: {overall_min_entropy_value}")
entropy_results = {
    "Year with Max Entropy": [overall_max_entropy_year],
    "Max Entropy Value": [overall_max_entropy_value],
    "Year with Min Entropy": [overall_min_entropy_year],
    "Min Entropy Value": [overall_min_entropy_value]
}

# Convert this dictionary to a DataFrame
overall_entropy_df = pd.DataFrame(entropy_results)

# Display the results
print("\nOverall Entropy Results:")
# print(overall_entropy_df)
overall_entropy_df

Overall Entropy Results:

  Year with Max Entropy  Max Entropy Value Year with Min Entropy  Min Entropy Value
0        DEPARTURE_2019           0.419375        DEPARTURE_2020           0.193757

In [36]:
entropy_df

   MODE Max_Entropy_Year  Max_Entropy_Value Min_Entropy_Year  Min_Entropy_Value
0   AIR   DEPARTURE_2019           0.419000   DEPARTURE_2020           0.192340
1  LAND   DEPARTURE_2019           0.437466   DEPARTURE_2021           0.147522
2  RAIL   DEPARTURE_2019          -0.000000   DEPARTURE_2019          -0.000000
3   SEA   DEPARTURE_2022           0.433579   DEPARTURE_2013           0.213092

### Result

In [37]:
overall_entropy_df.to_csv("2_mode_overall_min_max_entropy.csv",index=False)
entropy_df.to_csv("2_mode_min_max_entropy.csv",index=False)

## Port

### Analysis

In [38]:
print(Port_df)

   PORT/ LAND CHECK POST  COUNT_2013  COUNT_2014  COUNT_2016  COUNT_2017  COUNT_2018  COUNT_2019  COUNT_2020  COUNT_2021  COUNT_2022
0    AHMEDABAD (AIRPORT)      366102      396930      494394      504689      605404      547665      175967      215510      556120
1    BENGALURU (AIRPORT)      852591      953558     1240313     1353255     1658292     1876614      399089      426154     1347761
2      CALICUT (AIRPORT)     1112297     1178769     1110940     1353560     1405048     1466804      457160      638778     1238163
3      CHENNAI (AIRPORT)     1730503     1803368     1999412     2078070     2361244     2346340      549255      533722     1801127
4       COCHIN (AIRPORT)     1390833     1610742     2190681     2215214     2142700     2075894      592351      960821     1232178
5        DELHI (AIRPORT)     3517589     3794923     4475300     5119669     5801451     5964819     1789762     2278502     5383443
6    HYDERABAD (AIRPORT)      925401     1068658     1313670     1395090     1601374     1663965      447007      551170     1627527
7      KOLKATA (AIRPORT)      562907      591621      752497      832156      899897     1069795      207163      243747      423547
8       MUMBAI (AIRPORT)     3734176     4146539     4692109     5097038     5457293     4990371     1266726     1246851     4051228
9                 OTHERS     1579353     1862995     2565422     2898303     3189311     3873116     1117319     1046819     3174497
10  TRIVANDRUM (AIRPORT)      854564      924216     1037257     1095913     1174470     1037851      292767      409241      767143

In [39]:
import pandas as pd
import numpy as np

# Sample data setup
# data = {
#     'PORT/ LAND CHECK POST': [
#         'AHMEDABAD (AIRPORT)', 'BENGALURU (AIRPORT)', 'CALICUT (AIRPORT)', 
#         'CHENNAI (AIRPORT)', 'COCHIN (AIRPORT)', 'DELHI (AIRPORT)', 
#         'HYDERABAD (AIRPORT)', 'KOLKATA (AIRPORT)', 'MUMBAI (AIRPORT)', 
#         'OTHERS', 'TRIVANDRUM (AIRPORT)'
#     ],
#     'COUNT_2013': [366102, 852591, 1112297, 1730503, 1390833, 3517589, 925401, 562907, 3734176, 1579353, 854564],
#     'COUNT_2014': [396930, 953558, 1178769, 1803368, 1610742, 3794923, 1068658, 591621, 4146539, 1862995, 924216],
#     'COUNT_2016': [494394, 1240313, 1110940, 1999412, 2190681, 4475300, 1313670, 752497, 4692109, 2565422, 1037257],
#     'COUNT_2017': [504689, 1353255, 1353560, 2078070, 2215214, 5119669, 1395090, 832156, 5097038, 2898303, 1095913],
#     'COUNT_2018': [605404, 1658292, 1405048, 2361244, 2142700, 5801451, 1601374, 899897, 5457293, 3189311, 1174470],
#     'COUNT_2019': [547665, 1876614, 1466804, 2346340, 2075894, 5964819, 1663965, 1069795, 4990371, 3873116, 1037851],
#     'COUNT_2020': [175967, 399089, 457160, 549255, 592351, 1789762, 447007, 207163, 1266726, 1117319, 292767],
#     'COUNT_2021': [215510, 426154, 638778, 533722, 960821, 2278502, 551170, 243747, 1246851, 1046819, 409241],
#     'COUNT_2022': [556120, 1347761, 1238163, 1801127, 1232178, 5383443, 1627527, 423547, 4051228, 3174497, 767143]
# }

# Port_df = pd.DataFrame(data)

# Dictionary to store entropy results for each port
entropy_results = {
    'PORT/ LAND CHECK POST': [],
    'Max_Entropy_Year': [],
    'Max_Entropy_Value': [],
    'Min_Entropy_Year': [],
    'Min_Entropy_Value': []
}

# Calculate entropy for each port (row-wise entropy)
for index, row in Port_df.iterrows():
    port = row['PORT/ LAND CHECK POST']
    row_data = row.drop(labels='PORT/ LAND CHECK POST').dropna()  # Drop NaN values if any
    
    # Normalize data across the years for probability distribution
    prob_distribution = row_data / row_data.sum()
    
    # Calculate entropy per year
    year_entropy = prob_distribution.apply(lambda x: -x * np.log2(x) if x > 0 else 0)
    
    # Find years of max and min entropy
    max_entropy_year = year_entropy.idxmax()
    min_entropy_year = year_entropy.idxmin()
    
    # Append results for each port
    entropy_results['PORT/ LAND CHECK POST'].append(port)
    entropy_results['Max_Entropy_Year'].append(max_entropy_year)
    entropy_results['Max_Entropy_Value'].append(year_entropy[max_entropy_year])
    entropy_results['Min_Entropy_Year'].append(min_entropy_year)
    entropy_results['Min_Entropy_Value'].append(year_entropy[min_entropy_year])

# Convert results to DataFrame
port_entropy_df = pd.DataFrame(entropy_results)

# Calculate the overall entropy per year by summing counts across ports for each year
overall_data = Port_df.drop(columns=['PORT/ LAND CHECK POST']).sum()  # Summing counts for each year across all ports
overall_prob_distribution = overall_data / overall_data.sum()  # Normalize across years

# Calculate entropy for each year in the overall distribution
overall_year_entropy = overall_prob_distribution.apply(lambda x: -x * np.log2(x) if x > 0 else 0)

# Find the year with the maximum and minimum entropy for the overall distribution
overall_max_entropy_year = overall_year_entropy.idxmax()
overall_min_entropy_year = overall_year_entropy.idxmin()
overall_max_entropy_value = overall_year_entropy[overall_max_entropy_year]
overall_min_entropy_value = overall_year_entropy[overall_min_entropy_year]

# Display results
# print("Entropy Results by Port:")
# print(port_entropy_df)

# print("\nOverall Entropy Results:")
# print(f"Year with Max Entropy: {overall_max_entropy_year}, Max Entropy Value: {overall_max_entropy_value}")
# print(f"Year with Min Entropy: {overall_min_entropy_year}, Min Entropy Value: {overall_min_entropy_value}")

# Create a dictionary to hold the results
entropy_results = {
    "Year with Max Entropy": [overall_max_entropy_year],
    "Max Entropy Value": [overall_max_entropy_value],
    "Year with Min Entropy": [overall_min_entropy_year],
    "Min Entropy Value": [overall_min_entropy_value]
}

# Convert this dictionary to a DataFrame
entropy_df = pd.DataFrame(entropy_results)

# Display the results
print("\nOverall Entropy Results:")
# print(entropy_df)
entropy_df

Overall Entropy Results:

  Year with Max Entropy  Max Entropy Value Year with Min Entropy  Min Entropy Value
0            COUNT_2019           0.419361            COUNT_2020           0.193805

In [40]:
port_entropy_df

   PORT/ LAND CHECK POST Max_Entropy_Year  Max_Entropy_Value Min_Entropy_Year  Min_Entropy_Value
0    AHMEDABAD (AIRPORT)       COUNT_2018           0.419038       COUNT_2020           0.203003
1    BENGALURU (AIRPORT)       COUNT_2019           0.451020       COUNT_2020           0.184097
2      CALICUT (AIRPORT)       COUNT_2019           0.406945       COUNT_2020           0.204020
3      CHENNAI (AIRPORT)       COUNT_2018           0.417288       COUNT_2021           0.169638
4       COCHIN (AIRPORT)       COUNT_2017           0.415284       COUNT_2020           0.189263
5        DELHI (AIRPORT)       COUNT_2019           0.418699       COUNT_2020           0.207160
6    HYDERABAD (AIRPORT)       COUNT_2019           0.419457       COUNT_2020           0.192695
7      KOLKATA (AIRPORT)       COUNT_2019           0.456747       COUNT_2020           0.176328
8       MUMBAI (AIRPORT)       COUNT_2018           0.419803       COUNT_2021           0.172485
9                 OTHERS       COUNT_2019           0.447126       COUNT_2021           0.213580
10  TRIVANDRUM (AIRPORT)       COUNT_2018           0.416485       COUNT_2020           0.181092

### Result

In [41]:
entropy_df.to_csv("2_port_overall_min_max_entropy.csv",index=False)
port_entropy_df.to_csv("2_port_min_max_entropy.csv",index=False)

## Domestic vs Foreign

### Analysis

In [42]:
dvf_df

                     STATE/UT  DOMESTIC_2013  FOREIGN_2013  DOMESTIC_2014  FOREIGN_2014  DOMESTIC_2016  FOREIGN_2016  DOMESTIC_2017  FOREIGN_2017  DOMESTIC_2018  FOREIGN_2018  DOMESTIC_2019  FOREIGN_2019  DOMESTIC_2020  FOREIGN_2020  DOMESTIC_2021  FOREIGN_2021  DOMESTIC_2022  FOREIGN_2022
0   ANDAMAN & NICOBAR ISLANDS       243703.0       14742.0       285146.0       17235.0       384552.0       15466.0       471919.0       15313.0       498279.0       15242.0       505398.0       16206.0       191207.0        5412.0       126238.0        1687.0       235100.0        4500.0
1              ANDHRA PRADESH     98017783.0       69552.0     93306974.0       66333.0    153163354.0      341764.0    165433898.0      271362.0    194767874.0      281083.0    237051508.0      280356.0     70828590.0       67591.0     93277569.0       27551.0    192767000.0      165800.0
2           ARUNACHAL PRADESH       125461.0       10846.0       335974.0        5204.0       385875.0        6598.0       444005.0        7147.0       512436.0        7653.0       555639.0        7825.0        42871.0         961.0       102915.0         182.0       222400.0        1100.0
3                       ASSAM      4684527.0       17638.0      4826702.0       21537.0      5160599.0       12685.0      6052667.0       21760.0      5856282.0       36846.0      5447805.0       26878.0      1266898.0        7285.0      1409161.0         536.0      8382000.0        9000.0
4                       BIHAR     21588306.0      765835.0     22544377.0      829508.0     28516127.0     1010531.0     32414063.0     1082705.0     33621613.0     1087971.0     33990038.0     1093141.0      5638024.0      308080.0      2501193.0        1046.0     25330400.0       86800.0
5                  CHANDIGARH       936922.0       40124.0      1061419.0       28365.0      1182504.0       31549.0      1425781.0       31832.0      1538796.0       39681.0      1563795.0       44132.0       417953.0       12218.0       228809.0        5451.0      3027200.0       28400.0
6                CHHATTISGARH     22801031.0        3886.0    244884465.0        7777.0     16534471.0        9220.0     12231935.0        6655.0     19329501.0       14399.0     17304506.0        6817.0      2810227.0        2322.0      4747417.0           8.0     23636300.0         200.0
7        DADRA & NAGAR HAVELI       481618.0        1582.0       579638.0        1799.0       589074.0        1891.0       614182.0        1908.0       609435.0        1608.0       618330.0        1666.0       104959.0         222.0       197802.0          80.0       314393.0         437.0
8                 DAMAN & DIU       819947.0        4814.0       795167.0        4620.0       826201.0        5669.0       858131.0        5535.0       898824.0        5694.0       897804.0        5703.0       297436.0        1382.0       463420.0         105.0       485206.0        1362.0
9                       DELHI     20215187.0     2301395.0     22626859.0     2319046.0     28460832.0     2520083.0     29114423.0     2740502.0     29114423.0     2740502.0     36467598.0     2983436.0      9583671.0      681230.0     10642477.0      100178.0     27186200.0      815700.0
10                        GOA      2629151.0      492322.0      3544634.0      513592.0      5650061.0      680683.0      6895234.0      842220.0      7081559.0      933841.0      7127287.0      937113.0      3258715.0      302751.0      3308089.0       22128.0      7012000.0      174800.0
11                    GUJARAT     27412517.0      198773.0     30912043.0      235524.0     42252909.0      343752.0     48343121.0      448853.0     54369873.0      513113.0     58864661.0      595607.0     19464517.0      210047.0     24525210.0       11319.0    135811300.0     1777200.0
12                    HARYANA      7128027.0      228200.0      7467064.0      314757.0      7382995.0      331291.0      6050325.0      193381.0      4888952.0       73977.0      4549017.0       48046.0      2114731.0       17474.0      2025450.0        4578.0      2108500.0        2400.0
13           HIMACHAL PRADESH     14715586.0      414249.0     15924701.0      389699.0     17997750.0      452770.0     19130541.0      470992.0     16093935.0      356568.0     16829231.0      382876.0      3170714.0       42665.0      5632270.0        4932.0     15070900.0       29300.0
14            JAMMU & KASHMIR     10891424.0       60845.0      9438544.0       86477.0      9414579.0       63207.0     14235473.0       79765.0     17076315.0      139520.0     35580768.0      176043.0      2574704.0         490.0     11314920.0        1650.0     18499300.0       20000.0
15                  JHARKHAND     20511160.0       45995.0     33427144.0      154731.0     33389286.0      169442.0     33723185.0      170987.0     35408822.0      175801.0     16163330.0       57920.0      2519524.0        5317.0      3383642.0        1637.0     38284400.0      192300.0
16                  KARNATAKA     98010140.0      636378.0    118283220.0      561870.0    129762600.0      461752.0    179980191.0      498148.0    214306456.0      543716.0    227934714.0      608754.0     77453339.0      165325.0     81333659.0       72487.0    182413200.0      128500.0
17                     KERALA     10857811.0      858143.0     11695411.0      923366.0     13172536.0     1038419.0     14673520.0     1091870.0     15604661.0     1096407.0     18384233.0     1189771.0      4988972.0      340755.0      7537617.0       60487.0     18867400.0      345500.0
18                     LADAKH            NaN           NaN            NaN           NaN            NaN           NaN            NaN           NaN            NaN           NaN       241285.0       38652.0         6743.0        1126.0       303023.0        1054.0       510100.0       21300.0
19                LAKSHADWEEP         4784.0         371.0         7315.0         514.0         8716.0         753.0         6620.0        1027.0        10435.0        1313.0         6985.0         820.0         3462.0         413.0        13500.0           4.0        22800.0         100.0
20             MADHYA PRADESH     63110709.0      280333.0     63614525.0      316195.0    150490339.0      363195.0     78038522.0      359119.0     83969799.0      375476.0     88707139.0      327958.0     23519632.0       99819.0     25554067.0       41601.0     35848800.0      204500.0
21                MAHARASHTRA     82700556.0     4156343.0     92632097.0     4389098.0    116515801.0     4670049.0    119191539.0     5078514.0    119191539.0     5078514.0    149294703.0     5528704.0     39234591.0     1262409.0     43569238.0      185643.0    111297600.0     1511600.0
22                    MANIPUR       140673.0        1908.0       115499.0        2769.0       150638.0        3064.0       153454.0        3497.0       176109.0        6391.0       167560.0       13608.0        49669.0        3139.0        49371.0         648.0       139500.0        3900.0
23                  MEGHALAYA       691269.0        6773.0       716469.0        8664.0       830887.0        8476.0       990856.0       12051.0      1198340.0       18114.0      1245633.0       25813.0        24734.0        2311.0       154409.0         411.0       937100.0        7800.0
24                    MIZORAM        63377.0         800.0        68203.0         921.0        67238.0         942.0        67772.0        1155.0        76551.0         967.0       163762.0        2249.0        30890.0         265.0        87232.0         234.0       218400.0        2600.0
25                   NAGALAND        35638.0        3304.0        58507.0        2585.0        58178.0        3260.0        63362.0        4166.0       101588.0        5010.0       125949.0        5577.0        10979.0         518.0        23968.0         325.0        97400.0        2900.0
26                     ODISHA      9800135.0       66675.0     10790622.0       71426.0     12842766.0        7636.0     14011229.0      100014.0     15208540.0      110818.0     15307637.0      115128.0      4622273.0       10206.0      3742221.0        2269.0      7867900.0       22100.0
27                 PUDUCHERRY      1000277.0       42624.0      1188093.0       83291.0      1398289.0      117437.0      1531972.0      131407.0      1616660.0      141133.0      1713248.0      149919.0      1114942.0       92080.0      1253213.0         321.0      1760500.0         900.0
28                     PUNJAB     21340888.0      204074.0     24271302.0      255449.0     38703326.0      659736.0     40293352.0     1108635.0     44595061.0     1200969.0     47385387.0     1101343.0     16692197.0      359114.0     26640429.0      308135.0     26089400.0      329500.0
29                  RAJASTHAN     30298150.0     1437162.0     33076491.0     1525574.0     41495115.0     1513729.0     45916573.0     1609963.0     50235643.0     1754348.0     52220431.0     1605560.0     15117239.0      446457.0     21988734.0       34806.0    108328200.0      396700.0
30                     SIKKIM       576749.0       31698.0       562418.0       49175.0       747343.0       66012.0      1375854.0       49111.0      1426127.0       71172.0      1421823.0      133388.0       316408.0       19935.0       511669.0       11508.0      1625600.0       68600.0
31                 TAMIL NADU    244232487.0     3990490.0    327555233.0     4657630.0    343812413.0     4721978.0    345061140.0     4860455.0    385909376.0     6074345.0    494865257.0     6866327.0    140651241.0     1228323.0    115336719.0       57622.0    218584800.0      407100.0
32                  TELANGANA     54084367.0      153966.0     72399113.0       75171.0     95160830.0      166570.0     85266596.0      251846.0     92878329.0      318154.0     83035894.0      323326.0     39997001.0       46694.0     32000620.0        5917.0     60748400.0       68400.0
33                    TRIPURA       359586.0       11853.0       361247.0       26688.0       370618.0       36780.0       398669.0       69899.0       414388.0      102861.0       437201.0      154405.0       127815.0       31877.0       177816.0           5.0       235600.0        8500.0
35              UTTAR PRADESH    226531091.0     2054420.0    182820108.0     2909735.0    211707090.0     3156812.0    233977619.0     3556204.0    285079848.0     3780752.0    535855162.0     4745181.0     86122293.0      890932.0    109708435.0       44737.0    317913600.0      649000.0
36                UTTARAKHAND     19941128.0       97683.0     21991315.0      101966.0     30505363.0      117106.0     34359989.0      133725.0     35609650.0      151320.0     37585920.0      152273.0      7005264.0       41339.0     19434475.0        8532.0     54642600.0       61600.0
37                WEST BENGAL     25547300.0     1245230.0     49029590.0     1375740.0     74460250.0     1528700.0     79687645.0     1574915.0     85657365.0     1617105.0     92366025.0     1656145.0     28841732.0      463285.0     24325984.0       34828.0     84542200.0     1037000.0

In [43]:
# import pandas as pd
# import numpy as np
# from scipy.stats import entropy

# # Sample data - replace with the actual 'dvf_df' DataFrame
# # dvf_df = pd.read_csv('path_to_your_data.csv')  # Load data if from CSV

# # Column pairs for domestic and foreign tourist counts per year
# years = ["2013", "2014", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]
# columns = [(f"DOMESTIC_{year}", f"FOREIGN_{year}") for year in years]

# # List to store results
# results = []

# # Calculate entropy for each state and find the max/min entropy years
# for i, row in dvf_df.iterrows():
#     state = row["STATE/UT"]
#     entropies = {}
    
#     for year, (dom_col, for_col) in zip(years, columns):
#         # Calculate entropy if both domestic and foreign counts are non-zero
#         domestic_count = row[dom_col]
#         foreign_count = row[for_col]
        
#         if domestic_count > 0 and foreign_count > 0:
#             counts = [domestic_count, foreign_count]
#             prob_dist = counts / np.sum(counts)  # Normalize to a probability distribution
#             ent = entropy(prob_dist, base=2)  # Base-2 entropy
#             entropies[year] = ent
#         else:
#             entropies[year] = np.nan  # Assign NaN if there's zero in counts
    
#     # Remove NaN values and find the max and min entropy years
#     entropies = {year: ent for year, ent in entropies.items() if not np.isnan(ent)}
#     max_entropy_year = max(entropies, key=entropies.get)
#     min_entropy_year = min(entropies, key=entropies.get)
    
#     # Add the row to results list
#     results.append({
#         "STATE/UT": state,
#         "Max_Entropy_Year": max_entropy_year,
#         "Min_Entropy_Year": min_entropy_year,
#         "Max_Entropy": entropies[max_entropy_year],
#         "Min_Entropy": entropies[min_entropy_year]
#     })

# # Convert results list to a DataFrame
# entropy_results = pd.DataFrame(results)

# # Find the overall max and min entropy values
# overall_max = entropy_results.loc[entropy_results["Max_Entropy"].idxmax()]
# overall_min = entropy_results.loc[entropy_results["Min_Entropy"].idxmin()]

# # Display the result
# # print(entropy_results)
# print("\nOverall Maximum Entropy:")
# print(overall_max)
# print("\nOverall Minimum Entropy:")
# print(overall_min)

In [44]:
# import pandas as pd
import numpy as np
from scipy.stats import entropy

# Sample data - replace with the actual 'dvf_df' DataFrame
# dvf_df = pd.read_csv('path_to_your_data.csv')  # Load data if from CSV

# Column pairs for domestic and foreign tourist counts per year
years = ["2013", "2014", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]
columns = [(f"DOMESTIC_{year}", f"FOREIGN_{year}") for year in years]

# List to store results
results = []

# Calculate entropy for each state and find the max/min entropy years
for i, row in dvf_df.iterrows():
    state = row["STATE/UT"]
    entropies = {}
    
    # Calculate entropy for each year
    for year, (dom_col, for_col) in zip(years, columns):
        # Get the domestic and foreign counts for the current year
        domestic_count = row[dom_col]
        foreign_count = row[for_col]
        
        # Calculate the entropy for the domestic count
        if domestic_count > 0:
            domestic_prob = domestic_count / (domestic_count + foreign_count)
            ent_dom = -domestic_prob * np.log2(domestic_prob) if domestic_prob > 0 else 0
        else:
            ent_dom = np.nan
        
        # Calculate the entropy for the foreign count
        if foreign_count > 0:
            foreign_prob = foreign_count / (domestic_count + foreign_count)
            ent_for = -foreign_prob * np.log2(foreign_prob) if foreign_prob > 0 else 0
        else:
            ent_for = np.nan
        
        # Store the entropy values for each year (separately for domestic and foreign)
        entropies[f"Domestic_Entropy_{year}"] = ent_dom
        entropies[f"Foreign_Entropy_{year}"] = ent_for
    
    # Add the row to results list
    results.append({
        "STATE/UT": state,
        **entropies
    })

# Convert results list to a DataFrame
entropy_results = pd.DataFrame(results)

# Now calculate overall max and min entropy for domestic and foreign separately
# For domestic entropy
domestic_entropy_columns = [col for col in entropy_results.columns if 'Domestic_Entropy' in col]
foreign_entropy_columns = [col for col in entropy_results.columns if 'Foreign_Entropy' in col]

# Find the overall max and min entropy for domestic (across all rows and all years)
overall_max_domestic_entropy = entropy_results[domestic_entropy_columns].max().max()
overall_min_domestic_entropy = entropy_results[domestic_entropy_columns].min().min()

# Find the overall max and min entropy for foreign (across all rows and all years)
overall_max_foreign_entropy = entropy_results[foreign_entropy_columns].max().max()
overall_min_foreign_entropy = entropy_results[foreign_entropy_columns].min().min()

# Display the result
# print("\nOverall Maximum and Minimum Entropy (Domestic and Foreign):")
# print(f"Overall Maximum Domestic Entropy: {overall_max_domestic_entropy}")
# print(f"Overall Minimum Domestic Entropy: {overall_min_domestic_entropy}")
# print(f"Overall Maximum Foreign Entropy: {overall_max_foreign_entropy}")
# print(f"Overall Minimum Foreign Entropy: {overall_min_foreign_entropy}")
overall_entropy_df = pd.DataFrame({
    "Category": ["Domestic", "Foreign"],
    "Max_Entropy": [overall_max_domestic_entropy, overall_max_foreign_entropy],
    "Min_Entropy": [overall_min_domestic_entropy, overall_min_foreign_entropy]
})

In [45]:
overall_entropy_df

   Category  Max_Entropy  Min_Entropy
0  Domestic     0.322458     0.000002
1   Foreign     0.505783     0.000032

In [46]:
entropy_results

                     STATE/UT  Domestic_Entropy_2013  Foreign_Entropy_2013  Domestic_Entropy_2014  Foreign_Entropy_2014  Domestic_Entropy_2016  Foreign_Entropy_2016  Domestic_Entropy_2017  Foreign_Entropy_2017  Domestic_Entropy_2018  Foreign_Entropy_2018  Domestic_Entropy_2019  Foreign_Entropy_2019  Domestic_Entropy_2020  Foreign_Entropy_2020  Domestic_Entropy_2021  Foreign_Entropy_2021  Domestic_Entropy_2022  Foreign_Entropy_2022
0   ANDAMAN & NICOBAR ISLANDS               0.079900              0.235686               0.079841              0.235569               0.054687              0.181443               0.044622              0.156884               0.042179              0.150612               0.044120              0.155607               0.039159              0.142666               0.018899              0.082351               0.026840              0.107702
1              ANDHRA PRADESH               0.001023              0.007418               0.001025              0.007430               0.003208              0.019617               0.002361              0.015155               0.002078              0.013602               0.001703              0.011488               0.001375              0.009567               0.000426              0.003462               0.001239              0.008752
2           ARUNACHAL PRADESH               0.110102              0.290561               0.021837              0.092048               0.024049              0.099093               0.022673              0.094735               0.021072              0.089563               0.019895              0.085686               0.031281              0.120833               0.002545              0.016145               0.007083              0.037733
3                       ASSAM               0.005401              0.030228               0.006395              0.034714               0.003533              0.021263               0.005159              0.029105               0.008992              0.045776               0.007066              0.037657               0.008225              0.042597               0.000548              0.004320               0.001547              0.010581
4                       BIHAR               0.048569              0.166752               0.050280              0.170931               0.048521              0.166633               0.045870              0.160040               0.044505              0.156588               0.044245              0.155924               0.072778              0.221267               0.000603              0.004692               0.004918              0.027982
5                  CHANDIGARH               0.058013              0.189148               0.037058              0.137006               0.036999              0.136847               0.031160              0.120482               0.035808              0.133586               0.039049              0.142371               0.040389              0.145928               0.033176              0.126245               0.013346              0.062732
6                CHHATTISGARH               0.000246              0.002133               0.000046              0.000475               0.000804              0.006024               0.000784              0.005897               0.001073              0.007735               0.000568              0.004454               0.001191              0.008456               0.000002              0.000032               0.000012              0.000143
7        DADRA & NAGAR HAVELI               0.004716              0.027026               0.004457              0.025793               0.004609              0.026520               0.004461              0.025813               0.003792              0.022552               0.003871              0.022947               0.003042              0.018760               0.000583              0.004557               0.002001              0.013176
8                 DAMAN & DIU               0.008396              0.043313               0.008310              0.042952               0.009798              0.049047               0.009216              0.046692               0.009053              0.046027               0.009078              0.046127               0.006657              0.035872               0.000327              0.002743               0.004033              0.023739
9                       DELHI               0.139650              0.336309               0.127681              0.318603               0.112445              0.294449               0.118617              0.304463               0.118617              0.304463               0.104869              0.281700               0.092495              0.259715               0.013391              0.062895               0.041408              0.148603
10                        GOA               0.208574              0.420256               0.170507              0.377409               0.146464              0.345927               0.148162              0.348275               0.157887              0.361346               0.157505              0.360844               0.117273              0.302309               0.009554              0.048064               0.034660              0.130406
11                    GUJARAT               0.010348              0.051242               0.010868              0.053287               0.011595              0.056112               0.013211              0.062227               0.013425              0.063023               0.014379              0.066526               0.015320              0.069923               0.000665              0.005112               0.018514              0.081048
12                    HARYANA               0.044053              0.155435               0.057157              0.187184               0.060607              0.195029               0.043984              0.155260               0.021344              0.090449               0.014999              0.068772               0.011775              0.056801               0.003250              0.019828               0.001639              0.011120
13           HIMACHAL PRADESH               0.038955              0.142121               0.034046              0.128694               0.034965              0.131256               0.034246              0.129251               0.030929              0.119816               0.031733              0.122132               0.019027              0.082783               0.001262              0.008888               0.002797              0.017482
14            JAMMU & KASHMIR               0.007993              0.041621               0.013038              0.061585               0.009589              0.048205               0.008016              0.041721               0.011644              0.056301               0.007085              0.037743               0.000274              0.002352               0.000210              0.001858               0.001557              0.010643
15                  JHARKHAND               0.003224              0.019698               0.006632              0.035763               0.007266              0.038524               0.007260              0.038496               0.007110              0.037849               0.005142              0.029028               0.003035              0.018724               0.000697              0.005326               0.007192              0.038206
16                  KARNATAKA               0.009277              0.046940               0.006805              0.036520               0.005106              0.028862               0.003977              0.023464               0.003646              0.021830               0.003838              0.022780               0.003070              0.018903               0.001284              0.009023               0.001015              0.007372
17                     KERALA               0.101703              0.276218               0.101608              0.276051               0.101471              0.275812               0.096375              0.266772               0.091532              0.257940               0.084971              0.245575               0.089225              0.253646               0.011439              0.055510               0.025709              0.104250
18                     LADAKH                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN               0.184766              0.394406               0.190910              0.401372               0.004992              0.028327               0.056653              0.186019
19                LAKSHADWEEP               0.100000              0.273229               0.091538              0.257951               0.110039              0.290456               0.180120              0.388997               0.151875              0.353338               0.143314              0.341522               0.145262              0.344254               0.000427              0.003472               0.006286              0.034232
20             MADHYA PRADESH               0.006366              0.034587               0.007118              0.037883               0.003469              0.020942               0.006593              0.035593               0.006408              0.034774               0.005304              0.029780               0.006084              0.033329               0.002343              0.015059               0.008160              0.042325
21                MAHARASHTRA               0.067358              0.209847               0.063766              0.202049               0.054511              0.181029               0.057737              0.188515               0.057737              0.188515               0.050587              0.171676               0.044265              0.155976               0.006108              0.033436               0.019201              0.083368
22                    MANIPUR               0.019176              0.083283               0.033379              0.126817               0.028471              0.112603               0.031784              0.122278               0.049627              0.169343               0.104189              0.280531               0.083156              0.242069               0.018569              0.081233               0.038698              0.141434
23                  MEGHALAYA               0.013930              0.064887               0.017134              0.076314               0.014495              0.066948               0.017231              0.076649               0.021322              0.090379               0.028990              0.114143               0.117855              0.303243               0.003825              0.022717               0.011860              0.057128
24                    MIZORAM               0.017871              0.078856               0.019094              0.083006               0.019794              0.085350               0.023971              0.098850               0.017884              0.078900               0.019412              0.084072               0.012219              0.058498               0.003855              0.022864               0.016873              0.075405
25                   NAGALAND               0.117058              0.301964               0.059735              0.193065               0.074484              0.224779               0.086200              0.247929               0.066186              0.207323               0.059858              0.193342               0.063514              0.201494               0.019171              0.083266               0.041104              0.147808
26                     ODISHA               0.009716              0.048717               0.009456              0.047665               0.000857              0.006368               0.010189              0.050609               0.010398              0.051440               0.010729              0.052744               0.003175              0.019445               0.000874              0.006477               0.004035              0.023752
27                 PUDUCHERRY               0.057742              0.188528               0.091348              0.257600               0.107332              0.285902               0.109348              0.289298               0.111054              0.292146               0.111285              0.292529               0.105750              0.283209               0.000369              0.003055               0.000737              0.005587
28                     PUNJAB               0.013600              0.063672               0.014947              0.068585               0.023976              0.098866               0.038110              0.139854               0.037333              0.137755               0.032395              0.124026               0.030062              0.117294               0.016401              0.073756               0.017881              0.078888
29                  RAJASTHAN               0.063832              0.202192               0.062184              0.198552               0.049873              0.169941               0.048034              0.165433               0.047851              0.164982               0.042385              0.151147               0.040786              0.146972               0.002278              0.014706               0.005254              0.029548
30                     SIKKIM               0.073167              0.222070               0.111206              0.292398               0.112204              0.294050               0.048855              0.167455               0.066920              0.208906               0.118273              0.303913               0.082923              0.241617               0.031382              0.121125               0.057217              0.187322
31                 TAMIL NADU               0.023006              0.095797               0.020084              0.086312               0.019413              0.084076               0.019899              0.085699               0.022182              0.093163               0.019608              0.084729               0.012436              0.059320               0.000720              0.005477               0.002679              0.016863
32                  TELANGANA               0.004090              0.024017               0.001496              0.010282               0.002519              0.016007               0.004242              0.024760               0.004917              0.027974               0.005585              0.031069               0.001681              0.011362               0.000267              0.002293               0.001622              0.011018
33                    TRIPURA               0.045295              0.158591               0.095755              0.265656               0.124182              0.313222               0.198299              0.409475               0.256266              0.463380               0.322458              0.505783               0.257111              0.464047               0.000041              0.000425               0.049352              0.168672
34              UTTAR PRADESH               0.012908              0.061096               0.022424              0.093939               0.021040              0.089458               0.021437              0.090751               0.018759              0.081876               0.012608              0.059968               0.014696              0.067678               0.000588              0.004590               0.002936              0.018212
35                UTTARAKHAND               0.007016              0.037440               0.006643              0.035811               0.005507              0.030711               0.005582              0.031057               0.006092              0.033363               0.005809              0.032091               0.008439              0.043490               0.000633              0.004895               0.001624              0.011029
36                WEST BENGAL               0.065469              0.205769               0.038834              0.141798               0.028729              0.113370               0.027688              0.110261               0.026482              0.106617               0.025187              0.102641               0.022626              0.094587               0.002061              0.013511               0.017375              0.077149

### Result

In [47]:
overall_entropy_df.to_csv("2_dvf_overall_min_max_entropy.csv",index=False)
entropy_results.to_csv("2_dvf_min_max_entropy.csv",index=False)