1. For every year, find the lean and peak months of visit in terms of fees received. -> Data not Available
2. For every country and continent, find the lean and peak quarters of visit

# Data Preprocessing

In [32]:
import pandas as pd
import warnings
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Automatically adjust the width
pd.set_option('display.max_colwidth', None)  # Show full content of columns
warnings.filterwarnings('ignore')

# 1 -> Data Not Available :(

# 2

- Data is missing(not available) for year 2013 and 2018. (2015 too)

In [ ]:
# df_2013=pd.read_excel('../data-students/TourismData-2013/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
df_2014=pd.read_excel('../data-students/TourismData-2014/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
df_2016=pd.read_excel('../data-students/TourismData-2016/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
df_2017=pd.read_excel('../data-students/TourismData-2017/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
# df_2018=pd.read_excel('../data-students/TourismData-2018/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
df_2019=pd.read_excel('../data-students/TourismData-2019/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
df_2020=pd.read_excel('../data-students/TourismData-2020/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
df_2021=pd.read_excel('../data-students/TourismData-2021/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')
df_2022=pd.read_excel('../data-students/TourismData-2022/QUARTERWISE PERCENTAGE DISTRIBUTION OF DESTINATION COUNTRY WISE DEPARTURES OF INDIAN NATIONALS.xlsx')

In [34]:
df_2014.head()

,Destination Country,Departures (in numbers),1st Quarter (Jan-Mar),2nd Quarter (Apr-Jun),3rd Quarter (July-Sep),4th Quarter (Oct-Dec)
0,North America,NaN,NaN,NaN,NaN,NaN
1,Canada,281306.0,34.2,14.5,15.9,35.4
2,United States of America,1213624.0,26.4,22.1,19.6,31.9
3,Central & South America,NaN,NaN,NaN,NaN,NaN
4,Argentina,9351.0,40.6,17.5,14.6,27.3

In [35]:
list1=[df_2014,df_2016,df_2017,df_2019,df_2020,df_2021,df_2022]
for df in list1:
    df.columns = df.columns.str.upper()
    df['DESTINATION COUNTRY'] = df['DESTINATION COUNTRY'].str.upper()
    # print(df.columns)
    df['DESTINATION COUNTRY'] = df['DESTINATION COUNTRY'].str.strip()

list1=[df_2014,df_2016,df_2017,df_2019,df_2020,df_2021,df_2022]

In [36]:
# a=df_2014.columns
for i in range(1, len(list1)):
    if list1[i].columns.equals(list1[0].columns) and list1[i].equals(list1[0]):
        print(f"DataFrame {i+1} is OK")
    else:
        print(f"DataFrame {i+1} is Not OK")
for df in list1:
    print(df.columns)

DataFrame 2 is Not OK
DataFrame 3 is Not OK
DataFrame 4 is Not OK
DataFrame 5 is Not OK
DataFrame 6 is Not OK
DataFrame 7 is Not OK
Index(['DESTINATION COUNTRY', 'DEPARTURES (IN NUMBERS)',
       '1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)',
       '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)'],
      dtype='object')
Index(['DESTINATION COUNTRY', 'DEPARTURES (IN NUMBERS)',
       '1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)',
       '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)'],
      dtype='object')
Index(['DESTINATION COUNTRY', 'DEPARTURES (IN NUMBERS)',
       '1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)',
       '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)'],
      dtype='object')
Index(['DESTINATION COUNTRY', 'DEPARTURES (IN NUMBERS)',
       '1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)',
       '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)'],
      dtype='object')
Index(['DESTINATION COUNTRY', 'DEPARTURES (IN NUMBERS)',
       '1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)',
       '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)'],
      dtype='object')
Index(['DESTINATION COUNTRY', 'DEPARTURES (IN NUMBERS)',
       '1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)',
       '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)'],
      dtype='object')
Index(['DESTINATION COUNTRY', 'DEPARTURES (IN NUMBERS)',
       '1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)',
       '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)'],
      dtype='object')

In [37]:
df_2014.head()

,DESTINATION COUNTRY,DEPARTURES (IN NUMBERS),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),3RD QUARTER (JULY-SEP),4TH QUARTER (OCT-DEC)
0,NORTH AMERICA,NaN,NaN,NaN,NaN,NaN
1,CANADA,281306.0,34.2,14.5,15.9,35.4
2,UNITED STATES OF AMERICA,1213624.0,26.4,22.1,19.6,31.9
3,CENTRAL & SOUTH AMERICA,NaN,NaN,NaN,NaN,NaN
4,ARGENTINA,9351.0,40.6,17.5,14.6,27.3

In [38]:
# # Convert the string data to a pandas DataFrame
# df = df_2013
# df = df[df['DESTINATION COUNTRY'] != 'OTHERS']
# df = df.reset_index(drop=True)

# # Add the continent column based on the country names
# continent_mapping = {
#     "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
#     "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
#     "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
#                        "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
#                        "SWITZERLAND", "UNITED KINGDOM"],
#     "EASTERN EUROPE": ["CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
#     "AFRICA": ["EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
#     "WEST ASIA": ["BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
#                   "YEMEN"],
#     "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
#     "SOUTH EAST ASIA": ["INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
#     "EAST ASIA": ["REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
#     "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
# }

# # Function to assign continent based on the country
# def assign_continent(row):
#     for continent, countries in continent_mapping.items():
#         if row['DESTINATION COUNTRY'] in countries:
#             return continent
#     return "Unknown"

# # Apply the function to create the new continent column
# df['CONTINENT'] = df.apply(assign_continent, axis=1)

# # Print the updated dataframe
# # print(df)
# df.dropna(inplace=True)
# df = df.reset_index(drop=True)
# df.head(10)

In [39]:
# # Function to find lean and peak quarters
# def find_lean_peak(row):
#     quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
#     values = [row['1ST QUARTER (JAN-MAR)'], row['2ND QUARTER (APR-JUN)'], row['3RD QUARTER (JULY-SEP)'], row['4TH QUARTER (OCT-DEC)']]
    
#     peak_quarter = quarters[values.index(max(values))]
#     lean_quarter = quarters[values.index(min(values))]
    
#     return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'Peak Quarter'])

# # Apply the function to each row in the DataFrame
# df[['LEAN QUARTER', 'PEAK QUARTER']] = df.apply(find_lean_peak, axis=1)

# # Display the result
# # print(df[['DESTINATION COUNTRY', 'Continent', 'Lean Quarter', 'Peak Quarter']])
# df[['DESTINATION COUNTRY', 'CONTINENT', 'LEAN QUARTER', 'PEAK QUARTER']]
# # df

In [40]:
# # Define the columns for the quarters
# # quarters = ['1st Quarter (Jan-Mar)', '2nd Quarter (Apr-JUN)', '3rd Quarter (July-Sep)', '4th Quarter (Oct-Dec)']
# quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
# # Calculate the average arrivals for each quarter by continent
# continent_avg = df.groupby('CONTINENT')[quarters].mean()

# # Find the lean and peak quarters for each continent
# def find_lean_peak_for_continent(row):
#     # Calculate the peak and lean quarters based on average arrivals
#     peak_quarter = row.idxmax()  # Find the quarter with maximum average
#     lean_quarter = row.idxmin()  # Find the quarter with minimum average
#     return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'PEAK QUARTER'])

# # Apply the function to each continent's average data
# continent_lean_peak = continent_avg.apply(find_lean_peak_for_continent, axis=1)

# # Combine the results with the continent averages
# continent_result = pd.concat([continent_avg, continent_lean_peak], axis=1)
# # continent_result = continent_result[continent_result['CONTINENT'] != 'OTHERS']
# # continent_result = continent_result.reset_index(drop=True)
# # Display the result
# # print(continent_result)
# continent_result = continent_result.reset_index()
# continent_result

In [41]:
# years=[2013,2014,2016,2017,2018,2019,2020,2021,2022]
years=[2014,2016,2017,2019,2020,2021,2022]
country_quarter=pd.DataFrame(columns=['DESTINATION COUNTRY'])
continent_quarter=pd.DataFrame(columns=['CONTINENT'])

In [ ]:
i=0
for df in list1:
    # Convert the string data to a pandas DataFrame
    df = df[df['DESTINATION COUNTRY'] != 'OTHERS']
    df = df.reset_index(drop=True)

    # Add the continent column based on the country names
    # continent_mapping = {
    #     "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
    #     "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
    #     "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
    #                     "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
    #                     "SWITZERLAND", "UNITED KINGDOM"],
    #     "EASTERN EUROPE": ["CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
    #     "AFRICA": ["EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
    #     "WEST ASIA": ["BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
    #                 "YEMEN"],
    #     "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
    #     "SOUTH EAST ASIA": ["INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
    #     "EAST ASIA": ["REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
    #     "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
    # }
    continent_mapping = {
        "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
        "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
        "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
                        "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
                        "SWITZERLAND", "UNITED KINGDOM"],
        "EASTERN EUROPE": ["AZERBAIJAN","CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
        "AFRICA": ["UGANDA","EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
        "WEST ASIA": ["QATAR","KUWAIT","JORDAN","BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
                    "YEMEN"],
        "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
        "SOUTH EAST ASIA": ["CAMBODIA","INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
        "EAST ASIA": ["HONG KONG","REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
        "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
    }

    # Function to assign continent based on the country
    def assign_continent(row):
        for continent, countries in continent_mapping.items():
            if row['DESTINATION COUNTRY'] in countries:
                return continent
        return "Unknown"

    # Apply the function to create the new continent column
    df['CONTINENT'] = df.apply(assign_continent, axis=1)

    # Print the updated dataframe
    # print(df)
    df.dropna(inplace=True)
    df = df.reset_index(drop=True)
    # df.head(10)
    # Function to find lean and peak quarters
    def find_lean_peak(row):
        quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
        values = [row['1ST QUARTER (JAN-MAR)'], row['2ND QUARTER (APR-JUN)'], row['3RD QUARTER (JULY-SEP)'], row['4TH QUARTER (OCT-DEC)']]
        
        peak_quarter = quarters[values.index(max(values))]
        lean_quarter = quarters[values.index(min(values))]
        
        return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'Peak Quarter'])

    # Apply the function to each row in the DataFrame
    df[['LEAN QUARTER', 'PEAK QUARTER']] = df.apply(find_lean_peak, axis=1)

    # Display the result
    # print(df[['DESTINATION COUNTRY', 'Continent', 'Lean Quarter', 'Peak Quarter']])
    # df[['DESTINATION COUNTRY', 'CONTINENT', 'LEAN QUARTER', 'PEAK QUARTER']]
    # df
    quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUN)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
# Calculate the average arrivals for each quarter by continent
    continent_avg = df.groupby('CONTINENT')[quarters].mean()

    # Find the lean and peak quarters for each continent
    def find_lean_peak_for_continent(row):
        # Calculate the peak and lean quarters based on average arrivals
        peak_quarter = row.idxmax()  # Find the quarter with maximum average
        lean_quarter = row.idxmin()  # Find the quarter with minimum average
        return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'PEAK QUARTER'])

    # Apply the function to each continent's average data
    continent_lean_peak = continent_avg.apply(find_lean_peak_for_continent, axis=1)

    # Combine the results with the continent averages
    continent_result = pd.concat([continent_avg, continent_lean_peak], axis=1)
    # continent_result = continent_result[continent_result['CONTINENT'] != 'OTHERS']
    # continent_result = continent_result.reset_index(drop=True)
    # Display the result
    # print(continent_result)
    # continent_result
    # df.columns = ['DESTINATION COUNTRY', 'LEAN QUARTER '+str(years[i]), 'PEAK QUARTER '+str(years[i])] + list(df.columns[3:])
    df=df[['DESTINATION COUNTRY', 'LEAN QUARTER','PEAK QUARTER']]
    continent_result = continent_result.reset_index()
    continent_result=continent_result[['CONTINENT', 'LEAN QUARTER','PEAK QUARTER']]
    # print(continent_result)
# # print(df[['DESTINATION COUNTRY', 'Continent', 'Lean Quarter', 'Peak Quarter']])
    # print(years[i])
    df.columns = ['DESTINATION COUNTRY', 'LEAN QUARTER '+str(years[i]), 'PEAK QUARTER '+str(years[i])]
    continent_result.columns = ['CONTINENT', 'LEAN QUARTER '+str(years[i]), 'PEAK QUARTER '+str(years[i])]
    # continent_quarter.columns = ['CONTINENT']+list(df.columns[3:])
    i=i+1

    country_quarter = pd.merge(country_quarter, df, on='DESTINATION COUNTRY', how='outer')
    continent_quarter = pd.merge(continent_quarter, continent_result, on='CONTINENT', how='outer')

In [43]:
continent_quarter.head()

,CONTINENT,LEAN QUARTER 2014,PEAK QUARTER 2014,LEAN QUARTER 2016,PEAK QUARTER 2016,LEAN QUARTER 2017,PEAK QUARTER 2017,LEAN QUARTER 2019,PEAK QUARTER 2019,LEAN QUARTER 2020,PEAK QUARTER 2020,LEAN QUARTER 2021,PEAK QUARTER 2021,LEAN QUARTER 2022,PEAK QUARTER 2022
0,AFRICA,2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),3RD QUARTER (JULY-SEP),2ND QUARTER (APR-JUN),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
1,AUSTRALASIA,2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
2,CENTRAL & SOUTH AMERICA,3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
3,EAST ASIA,2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
4,EASTERN EUROPE,3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),3RD QUARTER (JULY-SEP)

In [44]:
country_quarter.shape

(70, 15)

In [45]:
country_quarter.head()

,DESTINATION COUNTRY,LEAN QUARTER 2014,PEAK QUARTER 2014,LEAN QUARTER 2016,PEAK QUARTER 2016,LEAN QUARTER 2017,PEAK QUARTER 2017,LEAN QUARTER 2019,PEAK QUARTER 2019,LEAN QUARTER 2020,PEAK QUARTER 2020,LEAN QUARTER 2021,PEAK QUARTER 2021,LEAN QUARTER 2022,PEAK QUARTER 2022
0,AFGHANISTAN,3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),NaN,NaN,2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
1,ARGENTINA,3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
2,AUSTRALIA,2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
3,AUSTRIA,2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUN),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP)
4,AZERBAIJAN,NaN,NaN,NaN,NaN,NaN,NaN,1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),2ND QUARTER (APR-JUN),1ST QUARTER (JAN-MAR),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)

In [46]:
continent_quarter.to_csv("2_continentwise_Quarter_Data.csv", index=False)
country_quarter.to_csv("2_Countrywise_Quarter_Data.csv", index=False)